php_flag display_errors on

RewriteEngine on
RewriteCond %{HTTP_HOST} ^baseigniter.com
RewriteRule (.*) http://www.baseigniter.com/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]